{{#if addNewProduct}}
<div class="productForm">
  <form>
    <label for="name">Name: </label>
    {{input value=name}}
    <label for="price">Sell Price: </label>
    {{input value=price}}
    <label for="details">Details: </label>
    {{input value=details}}
    <label for="size">Condition: </label>
    {{#x-select value=size}}
      {{#x-option value="Bad"}}Bad{{/x-option}}
      {{#x-option value="Average"}}Average{{/x-option}}
      {{#x-option value="Good"}}Good{{/x-option}}
    {{/x-select}}
    <label for="type">Type: </label>
    {{#x-select value=type}}
      {{#x-option value="Camera and Lenses"}}Camera and Lenses{{/x-option}}
      {{#x-option value="Lighting"}}Lighting{{/x-option}}
      {{#x-option value="Audio"}}Audio{{/x-option}}
      {{#x-option value="Support"}}Support{{/x-option}}
    {{/x-select}}
    <label for="color">Original Price: </label>
    {{input value=color}}
    <label for="image">Image URL: </label>
    {{input value=image}}
    <button {{action 'saveProduct' product}}>Save</button>
  </form>
  <button {{action 'toggleDetail'}}>Cancel</button>
</div>
{{else}}
  <button {{action 'toggleDetail'}}>Add New Product</button>
{{/if}}
